<div class="l-footer">
    <p class="m-aboutUs">
        <a href="https://www.jss.com.cn/Contents/portal/allow/aboutus/about.ftl" target="_blank">关于我们</a>
        <b>|</b>
        <a href="https://www.jss.com.cn/Contents/portal/allow/network/network.ftl" target="_blank">服务与支持</a>
        <b>|</b>
        <a href="https://www.jss.com.cn/Contents/portal/allow/help/guide.ftl" target="_blank">帮助中心</a>
    </p>
    <p>
        <span>mail：nnycs@nnuo.com</span>
        <span>地址：杭州市西湖区双龙街199号金色西溪A座</span>
        <b>|</b>
        <span>Copyright©2013-<span id="copyright-year"></span></span>
        <span>〖浙江诺诺网络科技有限公司〗版权所有</span>
        <span>
            <a href="http://www.miitbeian.gov.cn" target="_blank">浙ICP备18004495号</a>
        </span>
    </p>
    <p class="m-recordNum">
        <img src="https://rs.jss.com.cn/libs/images/emblem.gif?v=c6a59b6" />
        <span>浙公网安备 33010602000456号</span>
    </p>
    <div class="m-home-footImg">
        <img src="../../src/public/images/aisino.png" class="m-creditImg"/>
        <a href="https://ss.knet.cn/verifyseal.dll?sn=e14021433010046330gya7000000&amp;ct=df&amp;a=1&amp;pa=0.8679457296677214" target="_blank">
            <img src="https://rs.jss.com.cn/libs/images/trusted.gif?v=843a29f" class="m-creditImg"/>
        </a>
        <a href="http://idinfo.zjamr.zj.gov.cn/bscx.do?method=lzxx&id=3301063301060001165924" target="_blank">
            <img src="https://rs.jss.com.cn/libs/images/emblem_big.gif?v=9ccf3b4" class="m-creditImg-small"/>
        </a>
        <a href="https://www.jss.com.cn/nuonuo/web/filing/network/index.html?type=2" target="_blank">
            <img src="../../src/public/images/safety-level.png" class="m-creditImg"/>
        </a>
    </div>
</div>
<script>
document.getElementById('copyright-year').innerHTML = new Date().getFullYear()
</script>
