<!doctype html>
<html>
  <head>
    ${require('./common/head.html')}
    <title>诺诺.云代账—在线财务软件—诺诺服务</title>
  </head>
  <body>
    <div id="app" style="min-height:680px;">
      <!-- <div class="l-header">
        <div class="m-header ui-animate s-fixed">
            <div class="inner">
                <img src="${require('../src/public/images/dz-logo.png')}" width="142" height="20" alt="诺诺云记账" class="f-fl e-mt20">
                <span class="f-fr">
                    <span class="f-fr">
                        <em class="f-fr" id="reg_login">
                            <a class="f-fl nav j-register right-btn-border" href="javascript:void(0)">免费注册</a>
                            <a class="f-fl nav j-login right-btn-border" href="javascript:void(0)">登录</a>
														<a class="f-fl nav nuonuo nuonuo-blue" rel="noopener noreferrer" href="//www.jss.com.cn/" target="_black">诺诺网</a>
                        </em>
                        <em id="information" class="f-fr f-dn">
                            <a class="f-fl nav j-info" href="javascript:void(0)">进入软件</a>
                        </em>
                    </span>
                    <span class="f-fr">
                        <a class="f-fl nav" href="/">首页</a>
                        <a class="f-fl nav" href="/personal.html">云记账</a>
												<a class="f-fl nav s-crt"
												href="/agent.html">云代账</a>
                        <a class="f-fl nav" href="https://sds.jss.com.cn" target="_blank">智汇算</a>
                    </span>
                </span>
            </div>
        </div>
      </div>
      <div class="l-content">
        <div class="m-banner banner-instead">
          <span class="button">
            <button class="ui-button j-login">即刻体验</button>
            <i class="iconfont f-cp j-move">&#xe636;</i>
          </span>
        </div>
        <div class="m-module">
          <div class="m-title">
            <h3>运营管理系统</h3>
            <h4>Operation Management System</h4>
          </div>
          <div class="m-systemCont l-wrap2">
            <ul class="f-clearfix">
              <li>
                <img src="${require('../src/public/images/s1.jpg')}" class="bg ui-trans f-fl">
                <span class="mask f-pa"></span>
                <div class="tree ui-trans">
                  <div class="top">
                    <span class="item">
                      <em>企业管理</em>
                      <s class="dot">
                        <i></i>
                        <b></b>
                      </s>
                    </span>
                  </div>
                  <div class="bottom f-clearfix">
                    <span class="f-fl item left">
                      <em>企业信息</em>
                      <s class="dot">
                        <i></i>
                        <b></b>
                      </s>
                    </span>
                    <span class="f-fr item right">
                      <em>权限管理</em>
                      <s class="dot">
                        <i></i>
                        <b></b>
                      </s>
                    </span>
                    <span class="item">
                      <em>组织架构</em>
                      <s class="dot">
                        <i></i>
                        <b></b>
                      </s>
                    </span>
                  </div>
                </div>
                <div class="section f-pa ui-trans">
                  <i class="iconfont">&#xe6cf;</i>
                  <p class="e-mt15">维护企业信息、部门及员工，组织架构层层展示；多角色权限按需</p>
                  <p>分配，为员工灵活赋权</p>
                </div>
              </li>
              <li>
                <img src="${require('../src/public/images/s2.jpg')}" class="bg ui-trans f-fl">
                <span class="mask f-pa"></span>
                <div class="tree ui-trans">
                  <div class="top">
                    <span class="item">
                      <em>员工管理</em>
                      <s class="dot">
                        <i></i>
                        <b></b>
                      </s>
                    </span>
                  </div>
                  <div class="bottom f-clearfix">
                    <span class="f-fl item left">
                      <em>任务指派</em>
                      <s class="dot">
                        <i></i>
                        <b></b>
                      </s>
                    </span>
                    <span class="f-fr item right">
                      <em>多用户</em>
                      <s class="dot">
                        <i></i>
                        <b></b>
                      </s>
                    </span>
                    <span class="item">
                      <em>员工绩效</em>
                      <s class="dot">
                        <i></i>
                        <b></b>
                      </s>
                    </span>
                  </div>
                </div>
                <div class="section f-pa ui-trans">
                  <i class="iconfont">&#xe6cf;</i>
                  <p class="e-mt15">将客户指派员工，员工权责明确；多维度员工业绩展示，员工考核更透明；</p>
                  <p>多员工同时操作，互不影响，提高成员协作效率</p>
                </div>
              </li>
              <li>
                <img src="${require('../src/public/images/s3.jpg')}" class="bg ui-trans f-fl">
                <span class="mask f-pa"></span>
                <div class="tree ui-trans">
                  <div class="top">
                    <span class="item">
                      <em>客户管理</em>
                      <s class="dot">
                        <i></i>
                        <b></b>
                      </s>
                    </span>
                  </div>
                  <div class="bottom f-clearfix">
                    <span class="f-fl item left">
                      <em>客户管理</em>
                      <s class="dot">
                        <i></i>
                        <b></b>
                      </s>
                    </span>
                    <span class="f-fr item right">
                      <em>收费管理</em>
                      <s class="dot">
                        <i></i>
                        <b></b>
                      </s>
                    </span>
                    <span class="item">
                      <em>合同管理</em>
                      <s class="dot">
                        <i></i>
                        <b></b>
                      </s>
                    </span>
                  </div>
                </div>
                <div class="section f-pa ui-trans">
                  <i class="iconfont">&#xe6cf;</i>
                  <p class="e-mt15">客户/合同随时录入，指派跟进清晰有序；收费进度及合同状态关联展示，</p>
                  <p>统一管理更轻松</p>
                </div>
              </li>
              <li>
                <img src="${require('../src/public/images/s4.jpg')}" class="bg ui-trans f-fl">
                <span class="mask f-pa"></span>
                <div class="tree ui-trans">
                  <div class="top">
                    <span class="item">
                      <em>APP端</em>
                      <s class="dot">
                        <i></i>
                        <b></b>
                      </s>
                    </span>
                  </div>
                  <div class="bottom f-clearfix">
                    <span class="f-fl item left">
                      <em>数据查询</em>
                      <s class="dot">
                        <i></i>
                        <b></b>
                      </s>
                    </span>
                    <span class="f-fr item right">
                      <em>移动操作</em>
                      <s class="dot">
                        <i></i>
                        <b></b>
                      </s>
                    </span>
                    <span class="item e-mr15">
                      <em>进度跟踪</em>
                      <s class="dot">
                        <i></i>
                        <b></b>
                      </s>
                    </span>
                    <span class="item e-ml15">
                      <em>管理协调</em>
                      <s class="dot">
                        <i></i>
                        <b></b>
                      </s>
                    </span>
                  </div>
                </div>
                <div class="section f-pa ui-trans">
                  <i class="iconfont">&#xe6cf;</i>
                  <p class="e-mt15">企业随时查账、上传原始凭证、申请代开票，实时把控进度；会计及时</p>
                  <p>入账开票。缩短沟通时效，留存线上记录；代账管理层随时随地协调沟</p>
                  <p>通；代账会计在手机上也能工作。</p>
                </div>
              </li>
            </ul>
          </div>
        </div>
        <div class="m-module">
          <div class="m-title">
            <h3>财税处理平台</h3>
            <h4>Financial And Tax Processing Platform</h4>
          </div>
          <div class="m-platCont l-wrap2">
            <ul class="f-clearfix">
              <li>
                <i class="iconfont">&#xe689;</i>
                <dl>
                  <dt class="m-smallTitle">记账平台</dt>
                  <dt>基础功能 / 增值功能 / 记账进度</dt>
                  <dd >
                    <p>录凭证出报表、期初初始化期末结转结账等基</p>
                    <p>础功能。智能凭证、辅助核算、原始凭证、固</p>
                    <p>定资产等强化功能。随时掌控各客户记账进度</p>
                  </dd>
                </dl>
              </li>
              <li>
                <i class="iconfont">&#xe68b;</i>
                <dl>
                  <dt class="m-smallTitle">报税平台</dt>
                  <dt>税种展示 / 报税金额 / 报税进度</dt>
                  <dd>
                    <p>展示各客户的报税税种、报税金额及逐月的报</p>
                    <p>税状态；报税进度一目了然、及时把控</p>
                  </dd>
                </dl>
              </li>
              <li>
                <i class="iconfont">&#xe68a;</i>
                <dl>
                  <dt class="m-smallTitle">代开平台</dt>
                  <dt>申请单复核 / 一键开票 / 数据统计</dt>
                  <dd>
                    <p>对客户提交的代开票申请进行复核；申请单复</p>
                    <p>核通过后下传至开票机，一键开票；开票数据</p>
                    <p>统计维度完整，任务量清晰明确</p>
                  </dd>
                </dl>
              </li>
            </ul>
          </div>
        </div>
      </div> -->
    </div>
    ${require('./common/foot.html')}
    ${require('./common/script.html')}
    <script>
      var _hmt = _hmt || [];
      _hmt.push(['_setAccount', 'b42dd2b9e92587f24b252f06b44086a6']);
      (function() {
        var hm = document.createElement('script');
        hm.src = 'https://hm.baidu.com/hm.js?b42dd2b9e92587f24b252f06b44086a6';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(hm, s);
      })();
    </script>
    <script>
      window.nuoAppTrackId = 'nuonuo-cloud-dz';
    </script>
  </body>
</html>
