<!doctype html>
<html>
  <head>
    ${require('./common/head.html')}
    <title>诺诺.云代账—在线财务软件—诺诺服务</title>
  </head>
  <body>
    <div id="globalLoading" style="color:#666;width:160px;height:30px;position: absolute;left: 0;right: 0;top:0;bottom:0;margin: auto; font-size:14px;">正在加载，请稍候...</div>
    <div id="app"></div>
    ${require('./common/script.html')}
  </body>
</html>
