<!doctype html>
<html>
  <head>
    ${require('./common/head.html')}
    <title>诺诺.云代账—在线财务软件—诺诺服务</title>
  </head>
  <body class="l-body">
    <div id="app" style="min-height:680px;">
      <!-- <div class="l-header">
        <div class="m-header ui-animate">
          <div class="inner">
            <em class="logo f-fl"></em>
            <span class="f-fr">
              <span class="f-fr">
                <em class="f-fr" id="reg_login">
                  <a class="f-fl nav j-register" href="javascript:void(0)">免费注册</a>
                  <a class="e-ml10 f-fl nav j-login" href="javascript:void(0)">登录</a>
                  <a class="f-fl nav" rel="noopener noreferrer" href="//www.jss.com.cn/" target="_black">诺诺网</a>
                </em>
                <em id="information" class="f-fr f-dn">
                  <a class="f-fl nav j-info" href="javascript:void(0)">进入软件</a>
                </em>
              </span>
              <span class="f-fr">
                <a class="e-ml20 f-fl nav s-crt" href="/">首页</a>
                <a class="e-ml20 f-fl nav" href="/personal.html">云记账</a>
                <a class="e-ml20 f-fl nav" href="/agent.html">云代账</a>
                <a class="e-ml20 f-fl nav" href="https://sds.jss.com.cn" target="_blank">智汇算</a>
              </span>
            </span>
          </div>
        </div>
      </div>
      <div class="l-content">
        <div class="m-banner banner-index"></div>
        <div class="m-title">
          <h3 class="f-fs18">我们的优势</h3>
        </div>
        <div class="l-wrap f-oh">
          <ul class="m-youshi f-clearfix">
            <li class="f-fl">
              <div>
                <img class="ui-trans" src="${require('../src/public/images/1.jpg')}" alt="体验">
              </div>
              <dl>
                <dt>体验</dt>
                <dd>免费试用</dd>
                <dd>智能化财务新体验</dd>
              </dl>
            </li>
            <li class="f-fl">
              <div>
                <img class="ui-trans" src="${require('../src/public/images/2.jpg')}" alt="操作">
              </div>
              <dl>
                <dt>操作</dt>
                <dd>操作灵活，页面友好</dd>
                <dd>高效易用，0学习成本</dd>
              </dl>
            </li>
            <li class="f-fl">
              <div>
                <img class="ui-trans" src="${require('../src/public/images/3.jpg')}" alt="协作">
              </div>
              <dl>
                <dt>协作</dt>
                <dd>随时随地都能用</dd>
                <dd>无需安装，轻松协作</dd>
              </dl>
            </li>
            <li class="f-fl">
              <div>
                <img class="ui-trans" src="${require('../src/public/images/4.jpg')}" alt="安全">
              </div>
              <dl>
                <dt>安全</dt>
                <dd>云端加密存储</dd>
                <dd>信息安全有保</dd>
              </dl>
            </li>
          </ul>
        </div>
        <div class="m-title">
          <h3 class="f-fs18">更多的选择</h3>
        </div>
      </div> -->
    </div>
    ${require('./common/foot.html')}
    ${require('./common/script.html')}
    <script>
      var _hmt = _hmt || [];
      _hmt.push(['_setAccount', 'b42dd2b9e92587f24b252f06b44086a6']);
      (function() {
        var hm = document.createElement('script');
        hm.src = 'https://hm.baidu.com/hm.js?b42dd2b9e92587f24b252f06b44086a6';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(hm, s);
      })();
    </script>
    <script>
      window.nuoAppTrackId = 'nuonuo-cloud-dz';
    </script>
  </body>
</html>
