<!doctype html>
<html>
  <head>
    ${require('./common/head.html')}
    <title>诺诺.云代账—在线财务软件—诺诺服务</title>
  </head>
  <body>
    <div id="app" style="min-height:680px;">
      <!-- <div class="l-header">
        <div class="m-header ui-animate s-fixed">
          <div class="inner">
            <img
              src="${require('../src/public/images/jz-logo.png')}"
              width="142"
              height="20"
              alt="诺诺云记账"
              class="f-fl e-mt20"
            />
            <span class="f-fr">
              <span class="f-fr">
                <em class="f-fr" id="reg_login">
                  <a class="f-fl nav j-register right-btn-border" href="javascript:void(0)">免费注册</a>
                  <a class="f-fl nav j-login right-btn-border" href="javascript:void(0)">登录</a>
                  <a class="f-fl nav nuonuo nuonuo-blue" rel="noopener noreferrer" href="//www.jss.com.cn/" target="_black">诺诺网</a>
                </em>
                <em id="information" class="f-fr f-dn">
                  <a class="f-fl nav j-info" href="javascript:void(0)">进入软件</a>
                </em>
              </span>
              <span class="f-fr">
                <a class="f-fl nav" href="/">首页</a>
                <a class="f-fl nav s-crt" href="/personal.html">云记账</a>
                <a
                  class="f-fl nav"
                  onclick="_hmt.push(['_trackEvent', 'nav', 'click', '云代账 agent.html 链接点击量'])"
                  href="/agent.html"
                  >云代账</a
                >
                <a class="f-fl nav" href="https://sds.jss.com.cn" target="_blank">智汇算</a>
              </span>
            </span>
          </div>
        </div>
      </div>
      <div class="l-content">
        <div class="m-banner banner-cloud">
          <span class="button">
            <button class="ui-button j-login">
              即刻体验
            </button>
            <i class="iconfont f-cp j-move">&#xe636;</i>
          </span>
        </div>
        <div class="f-bgray">
          <div class="l-wrap m-personalWrap f-clearfix">
            <dl class="f-fl m-intro">
              <dt>
                界面美观、操作简便、易上手
              </dt>
              <dd>
                <p>
                  智能化操作界面，根据用户需要，展示相应的模块功能
                </p>
                <p>
                  抛弃复杂的操作流程，简化账务处理，给您多样化的智能操作体验
                </p>
                <p>
                  采用互联网思维，让软件更简单，“0”学习成本，让您“一看就会”
                </p>
              </dd>
            </dl>
            <div class="f-fr">
              <img
                src="${require('../src/public/images/c1.png')}"
                width="543"
                height="455"
                alt="界面美观、操作简便、易上手"
              />
            </div>
          </div>
        </div>
        <div class="f-bgimg">
          <div class="l-wrap f-clearfix">
            <dl class="f-fr m-intro">
              <dt class="f-cblue">基础功能免费</dt>
              <dd>
                <p>
                  便捷的凭证录入、账簿多样化联查，总账、明细账、
                </p>
                <p>余额表均可由汇总到明细录、由明细到凭证查询</p>
                <p>
                  三大报表数据实时生成，现金流量表无需设置现金流自动取数
                </p>
                <p>期末严谨的数据检查，确保您的数据无忧</p>
              </dd>
            </dl>
            <div class="f-fl">
              <img
                src="${require('../src/public/images/c2.png')}"
                width="602"
                height="338"
                alt="基础功能免费"
              />
            </div>
          </div>
        </div>
        <div class="f-bgray">
          <div class="l-wrap f-clearfix">
            <dl class="f-fl m-intro">
              <dt class="f-fs24 f-cblue">
                多样化的增值功能，提升财务效率
              </dt>
              <dd>
                <p>
                  线下财务软件转换，精确高效地迁移您的原财务数据
                </p>
                <p>
                  提供客户、供应商、部门、员工、存货、项目六类辅助核算，
                </p>
                <p>
                  启用辅助核算增加辅助核算余额表和明细账，丰富您的账务数据统计查询
                </p>
                <p>支持外币核算，自动汇兑损益结算</p>
                <p>
                  通过原始凭证功能，可以自动识别您的进销项发票，一键生成凭证
                </p>
                <p>
                  启用智能凭证，通过摘要带出凭证，提升您的账务处理效率
                </p>
              </dd>
            </dl>
            <div class="f-fr">
              <img
                src="${require('../src/public/images/c3.png')}"
                width="532"
                height="321"
                alt="多样化的增值功能，提升财务效率"
              />
            </div>
          </div>
        </div>
      </div> -->
    </div>
    ${require('./common/foot.html')}
    ${require('./common/script.html')}
    <script>
      window.nuoAppTrackId = 'nuonuo-cloud-jz';
    </script>
  </body>
</html>
